<!------------------------------------------------------------------------------------------------>
<!-- MainPage.razor                                                                             -->
<!--                                                                                            -->
<!-- This is the main screen. It shows a login popup window or a welcome message for the user   -->
<!--                                                                                            -->
<!------------------------------------------------------------------------------------------------>

<!------------------------------------------------------------------------------------------------>
<!-- Page definitions                                                                           -->
<!------------------------------------------------------------------------------------------------>
@page "/"
@page "/index"

<!------------------------------------------------------------------------------------------------>
<!-- Conent of the page                                                                         -->
<!------------------------------------------------------------------------------------------------>
@if (User.UserName == null || User.Role == null)
{
    <!-- If user is not authorized, shows a login screen in a popup window                      -->
    <Popup>
        <EditForm Model="@Info" OnValidSubmit="Login" OnInvalidSubmit="ValidateError">
            <DataAnnotationsValidator />
            <WindowTitle Title="Authorization is required!" ShowClose="false" />
            <div class="ati-login-element">
                <input type="text" class="ati-login-input" placeholder="Username" @bind="@Info.UserName" />
            </div>
            <div class="ati-login-element">
                <input type="password" class="ati-login-input" placeholder="Password" @bind="@Info.Password" />
            </div>
            <div class="ati-login-element">
                <button type="submit" class="btn ati-btn-primary">Let me in!</button>
            </div>
        </EditForm>
    </Popup>
}
else
{
    <!-- If user is logged on, then show a warm welcome                                         -->
    <Popup>
        <div class="ati-login-element">
            <h5 class="text-center">Welcome @User.UserName!</h5>
            <p>I'm galad to see you. You can chose applications from the task bar or you can logoff if you are done</p>
            <button class="btn ati-btn-secondary text-center" @onclick="Logoff">Hasta la vista!</button>
        </div>
    </Popup>
}

