<!------------------------------------------------------------------------------------------------>
<!-- AdminPage.razor                                                                            -->
<!--                                                                                            -->
<!-- This page is for executing some adminstrating actions like:                                -->
<!-- - Add/Rename/Remove category                                                               -->
<!-- - Add/Rename/Remove system                                                                 -->
<!-- - Add//Change/Delete user                                                                  -->
<!-- - Execute assignments                                                                      -->
<!--                                                                                            -->
<!------------------------------------------------------------------------------------------------>

<!------------------------------------------------------------------------------------------------>
<!-- Page definitions                                                                           -->
<!------------------------------------------------------------------------------------------------>
@page "/admin"

<!------------------------------------------------------------------------------------------------>
<!-- Content                                                                                    -->
<!------------------------------------------------------------------------------------------------>
<div class="ati-full-window">
    <!-- Show title of the page -->
    <WindowTitle Title="Play a God, you are and admin now!" CloseAction="@CloseWindow" />
    <!-- Here is the content -->
    <div class="ati-full-window-content container">
        <!-- Put a tree menu to the left side of page              -->
        <!-- Right side of the page is the actual sub-page content -->
        <div class="row">
            <div class="col-auto">
                <CascadingValue Value="AdminPageState.ActMenu">
                    <TreeMenu MenuTree="UserMenu" @ref="TMenu" AfterClick="UpdateState" />
                </CascadingValue>
            </div>
            <div class="col">
                <TreeMenuContent ID="1" TreeMenuRef="TMenu">
                    <p>Add/change/delete users...</p>
                </TreeMenuContent>
                <TreeMenuContent ID="2" TreeMenuRef="TMenu">
                    <p>Assign user to groups...</p>
                </TreeMenuContent>
                <TreeMenuContent ID="3" TreeMenuRef="TMenu">
                    <p>Add/change/delete systems...</p>
                </TreeMenuContent>
                <TreeMenuContent ID="4" TreeMenuRef="TMenu">
                    <p>Add/change/delete category...</p>
                </TreeMenuContent>
                <TreeMenuContent ID="5" TreeMenuRef="TMenu">
                    <p>Assign categories to system...</p>
                </TreeMenuContent>
            </div>
        </div>
    </div>
</div>

