body, html {
    background-image: radial-gradient(#84CEEB 15%, #5AB9EA 30%, #C1C8E4 60%);
    background-attachment: fixed;
}

.ati-bg-dark-purple {
    background-color: #8860D0!important
}

.ati-bg-light-purple {
    background-color: #C1C8E4 !important
}

.ati-bg-dark-blue {
    background-color: #5AB9EA !important
}

.ati-bg-light-blue {
    background-color: #84CEEB !important
}

.ati-bg-blurple {
    background-color: #5680E9 !important
}

.ati-bg-primary {
    background-color: #007bff !important
}

.ati-window-title {
    color: white;
    background-color: #8860D0 !important;
    padding: 5px 21px;
}

.ati-taskbar {
    background-color: #5680E9 !important;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
}

.ati-taskbar-applications {
    position: fixed;
    bottom: 55px;
    left: 13px;
    background-color: white;
    border-color: #8860D0;
    border-width: medium;
    border-style: solid;
    border-radius: 8px;
    height: 500px;
    width: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.ati-taskbar-description {
    background-color: #C1C8E4 !important;
    height: auto;
    overflow-y: auto;
    text-wrap: normal;
}

.ati-appitem-img {
    width: 55px;
    height: 55px;
    margin-right: 8px;
}

.ati-appitem-border {
    padding: 13px 21px;
    transition: all .2s ease-in-out;
}

    .ati-appitem-border:hover {
        padding: 13px 21px;
        background-color: #C1C8E4;
        cursor: pointer;
        transform: scale(1.1);
    }

.ati-center-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ati-btn-primary {
    background-image: linear-gradient(to right, #8860D0 35%, #5680E9);
    color: white !important;
    transition: all .2s ease-in-out;
    border-color: transparent;
}

    .ati-btn-primary:hover {
        background-image: linear-gradient(to right, #8860D0 35%, #5680E9);
        color: white !important;
        transform: scale(1.1);
        border-color: #8860D0;
    }

    .ati-btn-primary:active {
        background-image: linear-gradient(to right, #8860D0 35%, #5680E9);
        color: white !important;
        transform: scale(0.9);
        border-color: #8860D0;
    }

    .ati-btn-primary:disabled {
        background-image: linear-gradient(to right, #8860D0 35%, #5680E9);
        color: white !important;
        transform: scale(1);
        border-color: #8860D0;
    }

.ati-btn-secondary {
    background-image: linear-gradient(to right, #5680E9 35%, #5AB9EA);
    color: white !important;
    transition: all .2s ease-in-out;
    border-color: #8860D0;
}

    .ati-btn-secondary:hover {
        background-image: linear-gradient(to right, #5680E9 35%, #5AB9EA);
        color: white !important;
        transform: scale(1.1);
        border-color: #8860D0;
    }

    .ati-btn-secondary:active {
        background-image: linear-gradient(to right, #5680E9 35%, #5AB9EA);
        color: white !important;
        transform: scale(0.9);
        border-color: #8860D0;
    }

    .ati-btn-secondary:disabled {
        background-image: linear-gradient(to right, #5680E9 35%, #5AB9EA);
        color: white !important;
        transform: scale(1);
        border-color: #8860D0;
    }

.ati-btn-application {
    background-color: #8860D0;
    color: white !important;
    border-radius: 0px;
    padding: 5px 10px;
    border-color: transparent;
    font-size: 18px;
}

    .ati-btn-application:focus {
        background-color: #8860D0;
        color: white !important;
        border-radius: 0px;
        padding: 5px 10px;
        border-color: transparent;
        font-size: 18px;
        outline: none;
    }

.ati-btn-appitem {
    background-color: #5AB9EA;
    color: white !important;
    border-radius: 0px;
    padding: 5px 10px;
    border-color: transparent;
    font-size: 18px;
    float: left;
    margin: 0 3px;
}

    .ati-btn-appitem:focus {
        background-color: #5AB9EA;
        color: white !important;
        border-radius: 0px;
        padding: 5px 10px;
        border-color: transparent;
        font-size: 18px;
        float: left;
        outline: none;
    }

.ati-popup-box {
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: #8860D0;
    border-width: medium;
    border-style: solid;
    border-radius: 8px;
    min-width: 350px;
}

.ati-full-window {
    background-color: white;
    height: 100%;
    width: 100%;
    background-color: #C1C8E4 !important;
    border-color: #8860D0;
    border-width: medium;
    border-style: solid;
    border-radius: 8px;
    margin-top: 8px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.ati-full-window-content {
    background-color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 13px;
    min-height: 86vh;
}

.ati-login-element {
    margin: 8px 21px;
    text-align: center;
}

.ati-login-input {
    width: 100%;
    padding: 12px 21px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.ati-login-textarea {
    width: 100%;
    padding: 12px 21px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    max-height: 250px;
}

.ati-select {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.ati-treemenu-box {
    background-color: white;
    border-color: #5680E9;
    border-width: medium;
    border-style: solid;
    border-radius: 8px;
    margin: 13px 21px;
    min-width: 250px;
}

.ati-treemenu-title {
    color: white;
    background-color: #5680E9 !important;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
}

.ati-treemenu-link {
    padding: 5px;
    cursor: pointer;
}

.ati-treemenu-link-active {
    background-color: #C1C8E4;
    padding: 5px;
    cursor: pointer;
}

.ati-contextmenu-box {
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    position: fixed;
    border-color: #5AB9EA;
    border-width: thin;
    border-style: solid;
    border-radius: 3px;
    min-width: 200px;
}

.ati-contextmenu-title {
    color: white;
    background-color: #5AB9EA !important;
    padding: 3px;
}

.ati-contextmenu-item {
    padding: 8px;
    cursor: pointer;
}

    .ati-contextmenu-item:hover {
        padding: 8px;
        cursor: pointer;
        background-color: #84CEEB;
    }

.ati-hr-normal {
    border: 1px solid #5680E9;
    margin: 0 0 8px 0;
}

.ati-h-blurpl {
    color: #5680E9;
    margin: 8px 0 3px 0;
}

.ati-change-btn-table {
    width: 21px;
    height: 21px;
    transition: all .2s ease-in-out;
}

    .ati-change-btn-table:hover {
        width: 100%;
        cursor: pointer;
        width: 21px;
        height: 21px;
        transform: scale(1.3);
    }

.ati-change-img-table {
    width: 21px;
    height: 21px;
}

[data-tooltip]:hover {
    position: relative;
}

    [data-tooltip]:hover::before {
        all: initial;
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        border-radius: 5px;
        padding: 3px;
        background-color: #1a1a1a;
        content: attr(data-tooltip);
        color: #f9f9f9;
        position: absolute;
        bottom: 100%;
        width: 100px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 8px;
        text-align: center;
        font-size: 10px;
    }

    [data-tooltip]:hover::after {
        all: initial;
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #1a1a1a;
        position: absolute;
        bottom: 100%;
        content: '';
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 1px;
    }

.ati-drag-item {
    width: 100%;
    padding: 12px 21px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #5680E9;
    border-radius: 4px;
    box-sizing: border-box;
}

.ati-drag-item-title {
    font-size: 21px;
    font-weight: bold;
    color: black;
}

.ati-drag-item-subtext {
    font-size: 14px;
    color: #5680E9;
}

.ati-drag-item-add {
    border: 5px dashed #5680E9;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    color: #5680E9;
    padding-top: 13px;
    padding-bottom: 13px;
}

.ati-dashboard-container {
    display: flex;
    flex-wrap: wrap;
}

.ati-dashboard-section {
    border: 2px solid #5680E9;
    border-radius: 8px;
    padding: 8px 13px;
    margin: 8px 5px;
    width: 350px;
}

.ati-dashboard-property {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
}

.ati-details-section {
    border: 2px solid #5680E9;
    border-radius: 8px;
    padding: 8px 13px;
    margin: 8px 5px;
}
