.ati-bg-dark-purple {
    background-color: #8860D0!important
}

.ati-bg-light-purple {
    background-color: #C1C8E4 !important
}

.ati-bg-dark-blue {
    background-color: #5AB9EA !important
}

.ati-bg-light-blue {
    background-color: #84CEEB !important
}

.ati-bg-blurple {
    background-color: #5680E9 !important
}

.ati-bg-primary {
    background-color: #007bff !important
}
