<!------------------------------------------------------------------------------------------------>
<!-- ApplicationItem.razor                                                                      -->
<!--                                                                                            -->
<!-- This belongs to TaskBar component. These are elements in the taskbar box.                  -->
<!--                                                                                            -->
<!------------------------------------------------------------------------------------------------>

<div class="ati-appitem-border" @onclick="Navigate" @onmouseover="OnHover">
    <img src="@Icon" class="ati-appitem-img" />
    @Title
</div>


@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Route { get; set; }
    [Parameter] public string Icon { get; set; }
    [Parameter] public string Text { get; set; }

    [CascadingParameter] public TaskBar AppsVisible { get; set; }

    public void OnHover()
    {
        AppsVisible.ShowDescription(Title, Icon, Text);
    }

    public void Navigate()
    {
        AppsVisible.Hide();
        AppsVisible.AddOpenedApp(Route);
        NavManager.NavigateTo(Route);
        StateHasChanged();
    }
}
