<!------------------------------------------------------------------------------------------------>
<!-- TreeMenu.razor                                                                             -->
<!--                                                                                            -->
<!-- This component is a sidebar grouped menu. Parameters:                                      -->
<!-- - MenuTree: list which defined what should be showed                                       -->
<!-- - AfterClick: event, which will be executed after a menu has been selected                 -->
<!--                                                                                            -->
<!------------------------------------------------------------------------------------------------>

@if (SubMenu != null)
{
    @foreach (var MenuHeader in SubMenu)
    {
        <div class="ati-treemenu-box">
            <div class="ati-treemenu-title">@MenuHeader[0].Section</div>
            @foreach (var MenuLink in MenuHeader)
            {
                @if (MenuLink.Selected)
                {
                    <div class="ati-treemenu-link-active" @onclick="() => ChangeActive(MenuTree, MenuLink)">@MenuLink.Title</div>
                }
                else
                {
                    <div class="ati-treemenu-link" @onclick="() => ChangeActive(MenuTree, MenuLink)">@MenuLink.Title</div>
                }
            }
        </div>
    }
}


