@if (SubMenu != null)
{
    @foreach (var MenuHeader in SubMenu)
    {
        <div class="ati-treemenu-box">
            <div class="ati-treemenu-title">@MenuHeader[0].Section</div>
            @foreach (var MenuLink in MenuHeader)
            {
                @if (MenuLink.Selected)
                {
                    <div class="ati-treemenu-link-active" @onclick="() => ChangeActive(MenuTree, MenuLink)">@MenuLink.Title</div>
                }
                else
                {
                    <div class="ati-treemenu-link" @onclick="() => ChangeActive(MenuTree, MenuLink)">@MenuLink.Title</div>
                }
            }
        </div>
    }
}


@code {
    [Parameter] public List<TreeMenuItem> MenuTree { get; set; }
    [Parameter] public EventCallback AfterClick { get; set; }

    private List<List<TreeMenuItem>> SubMenu = new List<List<TreeMenuItem>>();

    protected override void OnInitialized()
    {
        int list_number = 0;
        for (int i = 0; i < MenuTree.Count; i++)
        {
            if(i == 0)
            {
                SubMenu.Add(new List<TreeMenuItem>());
                SubMenu[list_number].Add(MenuTree[i]);
            }
            else
            {
                if(MenuTree[i].Section == MenuTree[i - 1].Section)
                {
                    SubMenu[list_number].Add(MenuTree[i]);
                }
                else
                {
                    SubMenu.Add(new List<TreeMenuItem>());
                    list_number++;
                    SubMenu[list_number].Add(MenuTree[i]);
                }
            }
        }

        if (AdminPageState.ActMenu != null)
        {
            if (AdminPageState.ActMenu.Selected == false)
            {
                MenuTree[0].Selected = true;
            }
            else
            {
                foreach (var item in MenuTree)
                {
                    if (item.Title == AdminPageState.ActMenu.Title)
                        item.Selected = true;
                }
            }
        }

        if (AfterClick.HasDelegate)
            AfterClick.InvokeAsync();
    }

    private void ChangeActive(List<TreeMenuItem> menu, TreeMenuItem selected)
    {
        foreach (var item in menu)
        {
            if (item.Selected)
                item.Selected = false;

            if (item.Title == selected.Title)
                item.Selected = true;
        }
        if(AfterClick.HasDelegate)
            AfterClick.InvokeAsync();

        AdminPageState.ActMenu = selected;

        StateHasChanged();
    }
}
