<div class="row ati-window-title m-0" draggable="true">
    <div class="col">
        <h5>@Title</h5>
    </div>
    @if (ShowClose)
    {
        <div class="col-auto">
            <button type="button" class="close" aria-label="Close" @onclick="@CloseAction">
                <img src="img/close-icon.png" height="25" width="25" />
            </button>
        </div>
    }
</div>

@code {
    [Parameter] public EventCallback CloseAction { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public bool ShowClose { get; set; } = true;

    
}
