<!------------------------------------------------------------------------------------------------>
<!-- UserPage.razor                                                                             -->
<!--                                                                                            -->
<!-- This page is for showing info about the user itself and change them                        -->
<!--                                                                                            -->
<!------------------------------------------------------------------------------------------------>

<!------------------------------------------------------------------------------------------------>
<!-- Page definitions                                                                           -->
<!------------------------------------------------------------------------------------------------>
@page "/user"

<!------------------------------------------------------------------------------------------------>
<!-- Content                                                                                    -->
<!------------------------------------------------------------------------------------------------>
<div class="ati-full-window">
    <!-- Show a title at the top of the page -->
    <WindowTitle Title="It is your nice profile" CloseAction="@CloseWindow" />
    <!-- Here is the content of application -->
    <div class="ati-full-window-content container">
        <!-- Put a tree menu to the left side of page              -->
        <!-- Right side of the page is the actual sub-page content -->
        <div class="row">
            <div class="col-auto">
                <CascadingValue Value="UserPageState.ActMenu">
                    <TreeMenu MenuTree="UserMenu" @ref="TMenu" AfterClick="UpdateState" />
                </CascadingValue>
            </div>
            <div class="col">
                <TreeMenuContent ID="1" TreeMenuRef="TMenu">
                    <p>Display your data...</p>
                </TreeMenuContent>
                <TreeMenuContent ID="2" TreeMenuRef="TMenu">
                    <p>Change your settings...</p>
                </TreeMenuContent>
            </div>
        </div>
    </div>
</div>

