@page "/dashboard/details/{id:int}" 

<div class="ati-full-window">
    <WindowTitle Title="@PageTitle" CloseAction="CloseWindow" />
    <div class="ati-full-window-content container">
        <div class="row">
            <div class="col-auto">
                <h1 class="ati-h-blurpl">Details of #@id</h1>
            </div>
            <div class="col-auto">
                <button class="btn ati-btn-primary mt-3">Take the ticket</button>
            </div>
            <div class="col-auto">
                <button class="btn ati-btn-secondary mt-3">Close the ticket</button>
            </div>
        </div>
        <div class="ati-details-section">
            <div class="row m-1">
                <h4 class="ati-dashboard-property text-wrap">Sample ticket title (#@(id))</h4>
            </div>
            <div class="row m-1">
                <p class="ati-dashboard-property">Category: </p>
                <p>System</p>
            </div>
            <div class="row m-1">
                <p class="ati-dashboard-property">Status: </p>
                <p>Open</p>
            </div>
            <div class="row m-1">
                <p class="ati-dashboard-property">System: </p>
                <p>test-system-1</p>
            </div>
            <div class="row m-1">
                <p class="ati-dashboard-property">Opened at: </p>
                <p>YYYY-MM-DD HH-MM-SS</p>
            </div>
            <div class="row m-1">
                <p class="ati-dashboard-property">Reference: </p>
                <p>test-01</p>
            </div>
        </div>
        <h3 class="ati-h-blurpl">Logs</h3>
        <div class="ati-details-section">
            <div class="row ml-1 mr-1">
                <p class="ati-dashboard-property">Created at: </p>
                <p>YYYY-MM-DD HH-MM-SS</p>
            </div>
            <div class="row ml-1 mr-1">
                <p class="ati-dashboard-property">Created by: </p>
                <p>Béla</p>
            </div>
            <div class="row ml-1 mr-1">
                <p class="ati-dashboard-property">Summary: </p>
                <p>This is a short summary</p>
            </div>
            <div class="row ml-1 mr-1">
                <p class="ati-dashboard-property">Details: <br /></p>
                <pre class="text-monospace">Sample updated log entry #1<br />Can be more line</pre>
            </div>
        </div>
        <div class="ati-details-section">
            <div class="row ml-1 mr-1">
                <p class="ati-dashboard-property">Created at: </p>
                <p>YYYY-MM-DD HH-MM-SS</p>
            </div>
            <div class="row ml-1 mr-1">
                <p class="ati-dashboard-property">Created by: </p>
                <p>Béla</p>
            </div>
            <div class="row ml-1 mr-1">
                <p class="ati-dashboard-property">Summary: </p>
                <p>This is a short summary too</p>
            </div>
            <div class="row ml-1 mr-1">
                <p class="ati-dashboard-property">Details: </p>
            </div>
            <div class="row ml-1 mr-1">
                <pre class="text-monospace">Sample updated log entry #2<br />This can be more line too</pre>
            </div>
        </div>
    </div>
</div>

