@inherits LayoutComponentBase

<CascadingValue Value="this">
    <div role="main" style="padding-bottom: 55px; height: 100%;">
        <div class="container">
            @Body
        </div>
    </div>
    <AlertBox @ref="@AlertBox" />
    <TaskBar @ref="@Bar" AppList="Apps" />
</CascadingValue>

@code{
    public TaskBar Bar;
    public AlertBox AlertBox;

    public List<TaskBarMenuItem> Apps;

    protected override void OnInitialized()
    {
        Apps = new List<TaskBarMenuItem>()
        {
            new TaskBarMenuItem("Main screen", "/", "img/desktop-icon.png", "This leads to the main panel, where you are able to logon. This is the default window after startup"),
            new TaskBarMenuItem("Dashboard", "/dashboard", "img/dashboard-icon.png", "This leads a dashboard, where you can see some statistics about tickets, you can filter them and perform action againts them"),
            new TaskBarMenuItem("Open ticket", "/open", "img/create-icon.png", "Do you have an issue? Just open a ticket, let people know about it!"),
            new TaskBarMenuItem("User settings", "/user", "img/user-icon.png", "This leads to the user settings window. There you are able to change your email address and password."),
            new TaskBarMenuItem("Admin settings", "/admin", "img/admin-icon.png", "This leads to admin page, where the tool can be administrated. You can perform actions like: add/remove/rename systems or categories and user mnagement")
        };
    }
}